
<style>
      :root {
        --pagefind-ui-scale: 1;
        --pagefind-ui-primary: #e7661b;
        --pagefind-ui-text: #393939;
        ---ui-background: #ffffff;
        --pagefind-ui-border: #eeeeee;
        --pagefind-ui-tag: #eeeeee;
        --pagefind-ui-border-width: 2px;
        --pagefind-ui-border-radius: 8px;
        ----pagefind-ui-image-border-radius: 8px;
        --pagefind-ui-image-box-ratio: 3 / 2;
        --pagefind-ui-font: sans-serif;
    }
  </style>

	<script src="/pagefind/pagefind-ui.js" type="text/javascript" onload="new PagefindUI({ element: '#search', showImages: false });"></script>

    <div id="search" data-pagefind-ignore>

	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			new PagefindUI({
				element: "#search",
				showImages: false
			});
		});
	</script>
	</div>
	
<noscript data-pagefind-ignore>
	<div class="searchDivPF" data-pagefind-ignore>
		<p>Since you have JavaScript disabled, you can use the following form to search this site with&nbsp;<a href="https://duckduckgo.com" rel="noopener">DuckDuckGo</a>,&nbsp;instead.<br />
		<em class="legal">(Thanks to <a href="https://kevq.uk/search/" rel="noopener">Kev Quirk</a> for the&nbsp;idea.)</em></p>
		{{- /*
			h/t https://mentalpivot.com/using-duckduckgo-for-site-search-on-your-blog/
		*/ -}}
		<div class="searchDiv" data-pagefind-ignore>
			<form method="get" id="search-ddg" class="pagefind-ui__form" action="https://duckduckgo.com/" title="DuckDuckGo search for www.brycewray.com">
				<input type="hidden" name="sites" value="petermac.com">
				<input class="searchInput pagefind-ui__search-input" type="text" name="q" maxlength="300" placeholder="Search this site"><br />
				<input type="submit" value="Search" class="pagefind-ui__search-clear">
			</form>
			<p>Results open in the same tab/window.</p>
		</div>
		<p><strong>Privacy notice</strong>: This search form sends site-specific queries to <a href="https://duckduckgo.com" rel="noopener">DuckDuckGo</a>, a privacy-focused search engine. See&nbsp;also the <a href="https://duckduckgo.com/privacy" rel="noopener">DuckDuckGo privacy&nbsp;policy</a>.</p>
	</div>
</noscript>
