@charset "UTF-8";


/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 17px;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #1A1A1A;
  background:#ededed;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
} 

p {
  margin: 1.5em 0;
}

a {
  text-decoration: none;
  color: #c8370e;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:link {
  color: #c8370e;
}
a:visited, a:hover, a:active, a:focus {
  color: black;
}

article a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol, 
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0.75em;
  background: #f5f5f5;
}

code {
  padding: 0 0.375em;
  background: #f5f5f5;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1.5em;
  border-left: solid 0.75em #38312f;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px #4d4d4d;
  line-height: 1.5;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px #4d4d4d;
  line-height: 1.5;
}
